<app-two-way-data-binding>
</app-two-way-data-binding>
<hr>

<!-- text interpolation  -->
{{name}}

<!-- attiribute binding -->
<button [disabled]="disabled"> disbaled</button>

<!--property binding -->
<img [src]="photoURL" alt="">
<br>
<img src={{photoURL}} alt="">
<input type="text" name="title" [value]="title" id="">
<br>

<!-- event-->
<button (click)="clickMe()">click</button>

<br>
<!-- multiple event binding -->
<button (click)="clickMe2(); clickMe()">click 2</button>
<br>
<app-property-binding [age]="34"></app-property-binding>